* {
  box-sizing: border-box;
}

.container {
  position: relative;
  display: inline-block;
}

.wrapper {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
}

.health-background {
  background: #ffff00;
  height: 30px;
}

#timer {
  background: #ff0000;
  height: 100px;
  width: 100px;
  flex-shrink: 0;
}

#player-1-health {
  height: 30px;
  width: 100%;
}

.player-2-health-wrapper {
  position: relative;
  height: 30px;
  width: 100%;
}

#player-2-health-bar {
  position: absolute;
  background: #0000ff;
  inset: 0;
}
