* {
  box-sizing: border-box;
}

.container {
  position: relative;
  display: inline-block;
}

.wrapper {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
}

.health-background {
  background: #ffff00;
  height: 30px;
  width: 100%;
}

#timer {
  background: #ff0000;
  height: 100px;
  width: 100px;
  flex-shrink: 0;
}

.player-1-health-wrapper,
.player-2-health-wrapper {
  position: relative;
  height: 30px;
  width: 100%;
}

#player-2-health-bar {
  position: absolute;
  background: #0000ff;
  inset: 0;
}

.player-1-health-wrapper {
  display: flex;
  justify-content: flex-end;
}

#player-1-health-bar {
  position: absolute;
  background: #0000ff;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}
